#add{
    width: 97%;
    border: 1px solid grey ;
    /* display: flex;
    justify-content: space-around; */
    margin: auto;
}
#main-add{
  
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    /* Styles for mobile devices */
    #main-add{
  
        width: 85%;
        text-align: center;
        margin: auto;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    input[type="number"], input[type="url"], textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

  }


  #orders{
    width: 90%;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px ;
    text-align: center;
  }
  #orders table{
    width: 100%;
   
  }
thead{
height: 50px;
  background-color: grey;
  color: white;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}
tbody{
  font-size: larger;
  background-color: rgb(236, 233, 233);

}
tbody td{
  border: 1px solid teal;
}
  